/build
/node_modules
/*.log
/artifacts/resume-pdf-fonts/config_font.php
/local.json
/deployment/vendor
/deployment/public/bower_components
/deployment/build
/deployment/public/production/
#/deployment/settings.json
/*.iws
.idea/workspace.xml
.idea/tasks.xml
.idea/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml

node_modules/.yarn-integrity


